@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Supermercado+One|Trykker);

body {
    background: #fafafa;
    font-family: 'Trykker', serif;
    color: #333;
}

.hero-unit {   
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 2%;
    
}
.hero-unit h1 {
    font-family: 'Antic Slab', serif;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4.5px;
}

h2 {font-family: 'Supermercado One', cursive;}