<div class="hero-unit">
	<h1>Show Me the DOM</h1>
	<form name="URLForm" class="form-inline" ng-submit="submit()">
		<div class="form-group col-sm-10">
			<input type="url" class="form-control" placeholder="URL" ng-model="mainURL"/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Go!</button>
		</div>
	</form>	
</div>

<div id="d3stuff" class="d3output"><svg id="result"/></div>

<div class="row">
	<p class="footer">Andrea Cadeddu and Matthew Wampler-Doty 2013</p>
</div>
