<div class="hero-unit row-fluid">
	<!--<img src="./images/logo.svg" alt="" width="200px" class="logo"/>-->
    <h1>dom.tree</h1>
    <p class="lead">Show me the DOM of:</p>
	<form name="URLForm" class="form-inline" ng-submit="submit()">

		<div class="form-group col-sm-10">
			<input  type="url" class="form-control" placeholder="URL" ng-model="mainURL" focus required/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="!URLForm.$valid">Go!</button>
		</div>
	</form>	
</div>

<!--<div loadingbar>Loading</div>-->
<div id="d3stuff" class="d3output"></div>

<div class="row-fluid">
	<p class="footer">
        <a href="mailto:cadedduan@gmail.com">Andrea Cadeddu</a>
        and
        <a href="mailto:matthew.wampler.doty@gmail.com">Matthew Wampler-Doty</a>
        2013
    </p>
</div>
